@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  @apply w-64 bg-gray-200 shadow flex-col justify-between;
}

.sidebar-route {
  @apply rounded-md flex w-full justify-between cursor-pointer items-center m-3 p-3;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); 


/* Start Global rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}

html {
    width: 100%;
    height: 100%;
}

/* Start body rules - LOGIN & PRODUCTS*/
body {
    background: rgb(154, 174, 194) 100%;    
    color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Montserrat', arial;
    font-size: 15;
    opacity: .95;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(28, 45, 80);
  border-bottom: 1px solid gray;
  box-shadow: 1px 1px gray;
}

.navbar > li {
  display: flex;
  align-items: center;
}

.Footer{  
  background-color: rgb(154, 174, 194) ;
  text-align: center;
  font-weight: bold;
  font-family: 'Montserrat', arial;
  font-size: 15;       
  color: black;
  width: 100%;
  height: 100px;
  margin-top: 150;
  padding-top: 10%;
  border: 20%;
    
} 

.t_Inicio{
    color: white;
    text-shadow: 0px 0px 5px #000;   
    font-family: 'Montserrat', arial;  
    font-style: normal;    
    text-align: center;
    font-size: 60px;    
    margin-top: 5%;
}

.t_Subtitulo{
  color: rgb(255, 255, 255);    
  font-family: 'Montserrat', arial;  
  text-align: center;
  font-size: 15px;    
  padding-top: 10;
}

.logo {
  height: 70px;
}

.botonGenerico {
  border: 0px;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bolder;
}

.botonGenerico:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.mainButton {
  background-color: rgb(4 151 144);
  color: white;
}

.t_catalogo{
    color: black;
    font-family: 'Montserrat', arial;  
    text-align: center;
    font-size: 15px;    
    margin-top: 65px;
}

.catalogoContenedor{        /*ul*/
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.catalogo{              /*il*/
    margin: 10px;
    background-color:rgb(28, 45, 80);
    border-radius: 10px;
    list-style: none;
}

.contenedorImagen {
    width: 240px;
    height: 350px;
    display: flex;
    margin-bottom: 10px;
}

  
.contenedorImagen:hover {
    cursor: pointer;
    transform: scale(1.01);
}
  
.contenedorImagen > img {
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.tituloImagen{
    color: white;
    margin: 10px;
    font-size: x-large;
    text-align:center;
}

.form {
  min-height: 500px;
  height: auto;    
  width: 600px;
  z-index: 15;
  position: relative;
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 100px auto 10px;
  padding: 2%;
  overflow: hidden;
}

.form-toggle {
  z-index: 10;
  position: absolute;
  top: 60px;
  right: 60px;
  background: #FFFFFF;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  transform-origin: center;
  transform: translate(0, -25%) scale(0);
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}

.form-group:last-child {
  margin: 0;
  font-family: 'Montserrat', arial; 
  font-size: 12px;
  line-height: 1.0m;
}

.form-group label {
 display: block;
 margin: 0 0 10px;
 color: rgba(0, 0, 0, 0.6);
 font-size: 13px;
 font-weight: 500;
 line-height: 1;
 letter-spacing: 0.2em;
}

.form-group input { 
  outline: none;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Montserrat', arial;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  transition: 0.3s ease;
}

.form-group button { /*Save information button*/
 outline: none;
 background: rgb(4 151 144);
 width: 100%;
 border: 0;
 border-radius: 4px;
 padding: 12px 20px;
 color: #FFFFFF;
 font-family: inherit;
 font-size: inherit;
 font-weight: 500;
 line-height: inherit;
 cursor: pointer;
}

.form-group .form-remember {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
}

.form-panel {
  padding: 60px calc(5% + 60px) 60px 60px;
  box-sizing: border-box;
}
.form-panel.one:before {
  content: "";
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}
.form-panel.one.hidden:before {
  display: block;
  opacity: 1;
  visibility: visible;
}

.form-group .form-remember input[type=checkbox] {
  display: inline-block;
  width: auto;
  margin: 0 10px 0 0;
}
.form-group .form-recovery {
  color: #4285F4;
  font-size: 12px;
  text-decoration: none;
}
.form-panel {
  padding: 60px calc(5% + 60px) 60px 60px;
  box-sizing: border-box;
}
.form-panel.one:before {
  content: "";
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}
.form-panel.one.hidden:before {
  display: block;
  opacity: 1;
  visibility: visible;
}

.form-header {
 margin: 2% auto 10% auto;
 text-align: center;
}

.form-header h1 { /*title create product - H1*/
 padding: 4px 0;
 color: rgb(28, 45, 80);
 font-size: 250%;
 font-weight: 700;  
}

.form-header h2 { /*title create product - H1*/
  padding: 4px 0;
  color: rgb(28, 45, 80);
  font-size: 250%;
  font-weight: 700;    
 }

 
.categoria{
 position: relative;
 font-family: sans-serif;  
}

.categoria select{ /*Código repetido de .form-group */  
  outline: none;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  width: 95%;
  margin: 2%;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 15px 20px;
  color: rgba(0, 0, 0, 0.6);  
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  transition: 0.3s ease;  
  font-family: 'Montserrat', arial; 
  font-size: 12px;
  line-height: 1.6em;
}

.L_Regresar{
  margin-top: 40px;    
  margin-left: 35%;
  padding: 8px 15px;    
  border: 1px solid rgb(190, 186, 186);  
  border-radius: 4px;
  width: 120px;
  height:35px ;
  font-size: inherit;
  font-family: 'Montserrat';
  text-align: center;
  background-color: rgb(4 151 144);   
  color: white;         
  cursor: pointer;
  text-decoration: none; 

}